
/*==========================================header=====================================*/
.header{
    background: white;
    min-height:unset;
}


/*=========================================/header=====================================*/

/*==========================================main=====================================*/
.main{
    padding-top:0;
}
.line_more_work{
    padding-top: 110px;
    padding-bottom: 100px;
    min-height:unset;
    flex-direction: column;
    text-align: center;
}
.line_work_bg{
    background: #007d2f;
}
.more_work_title{
    font-family: 'Montserrat-Medium';
    font-size: 30px;
    color:#171717;
}
.more_work_text{
    font-family: 'Roboto-Medium';
    font-size: 17.29px;
    color:white;
}
/*=========================================/main=====================================*/

/*==========================================footer=====================================*/



/*=========================================/footer=====================================*/